.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

div.layout-content-wrapper {
    margin-top: 20px;
    width:100%;
}

div.image-element-not-found {
    height: 200px;
    width: 200px;
    text-align: center;
    line-height: 100px;
    border: 1px solid black;
    margin: 10px;
}
